<a href="https://colab.research.google.com/github/hodangtu01/HOMEWORK1---AI/blob/main/Practice_W3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Nhập số và hiển thị
value1 = input("Nhập vào số thứ 1:")
value2 = input("Nhập vào số thứ 2:")
value1 + value2 # Lúc này sẽ hiểu là kiểu string hiển thị là 73
print(value1 + value2)
int(value1) + int(value2) # Ép kiểu dữ liệu string thành int

In [6]:
# Write to file
# Tạo ra file .txt 
with open ('text.txt', mode ='w') as acc:
  acc.write('201461 Nguyen Van A 10 \n')
  acc.write('201462 Tran Van A    8 \n')
  acc.write('201463 Len Van A     9 \n')
  acc.write('201464 Nguyen Van B 10 \n')
  acc.write('201465 Lam Van C     7 \n')
  acc.write('201466 Nong Van E    8 \n')
  acc.write('201467 Manh Van D    9 \n')
  acc.write('201468 Truong Van A  8 \n')
  acc.write('201469 Nguyen Van G 10 \n')

In [7]:
# Read file
with open('text.txt',mode='r') as acc:# Doc luu vao bo nho dem
  print(f"{'MSSV':<10}{'Ho':<15}{'TenLot':<11}{'Ten':<10}{'Score': >3}") # Căn chỉnh 
  for record in acc:
    MSSV, Ho, TenLot, Ten, Score = record.split()
    print(f"{MSSV:<10}{Ho:<16}{TenLot:<10}{Ten:<10}{Score:>3}")
    # 'MSSV' kieu string, căn chỉnh
    # sau 1 dấu cách là 1 phần tử khác
    # Khi tạo MSSV Name Score thì các giá trị tương ứng
    # VD MSSV - 201461 1 cụm, Name - NguyenVanA liền nhau, Score - 10 liền nhau
    # Khắc phục - NguyenVanA thì tương ứng Name
    # Nguyen Van A - Ho, Tenlot, Ten

MSSV      Ho             TenLot     Ten       Score
201461    Nguyen          Van       A          10
201462    Tran            Van       A           8
201463    Len             Van       A           9
201464    Nguyen          Van       B          10
201465    Lam             Van       C           7
201466    Nong            Van       E           8
201467    Manh            Van       D           9
201468    Truong          Van       A           8
201469    Nguyen          Van       G          10

In [37]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv(url)
dataframe.head(21)
#Luu voi loai '.csv'

        ID            Name  Score Faculty
0   231460    Nguyen Van A      9     CKD
1   201471    Nguyen Thi B      2     CKM
2   211482    Nguyen Van C      5      TT
3   201493      Tran Thi D      5     CKM
4   191504        Le Thi E      4     CKM
5   201515      Le Quang H      8     CKD
6   181526        Ly Van K      0     DDT
7   201537    Nguyen Hai M      6     CNH
8   221548        Le Hai V      2     CKM
9   211559   Tran Nguyen O      4     CKD
10  221570        Ly Thi Q      6     CNI
11  201581      Tran Cao P      7      KT
12  201592        Ho Van T      9      TT
13  201603      Ho Quang P      1     CNH
14  191614        Ho Thi L      4     DDT
15  201625       Tran Le R     10     CNI
16  221636     Ho Nguyen L      9     CKM
17  201647  Nguyen Quang J      2     CKM
18  221658      Ly Quang K      4     CNH
19  201669    Truong Van R      6     CNI

In [23]:
#Data location
dataframe.iloc[:10]

       ID           Name  Score Faculty
0  231460   Nguyen Van A      9     CKD
1  201471   Nguyen Thi B      2     CKM
2  211482   Nguyen Van C      5      TT
3  201493     Tran Thi D      5     CKM
4  191504       Le Thi E      4     CKM
5  201515     Le Quang H      8     CKD
6  181526       Ly Van K      0     DDT
7  201537   Nguyen Hai M      6     CNH
8  221548       Le Hai V      2     CKM
9  211559  Tran Nguyen O      4     CKD

In [24]:
#Lọc dữ liệu
dataframe = dataframe.set_index(dataframe['Score'])
dataframe.loc[9]
#  ID 181526, Score 9 nếu 181526 và 9 đưa vào trong '' là kiểu string

           ID          Name  Score Faculty
Score
9      231460  Nguyen Van A      9     CKD
9      201592      Ho Van T      9      TT
9      221636   Ho Nguyen L      9     CKM

In [25]:
# Gán
dataframe[(dataframe['Faculty'] =='CKD')&(dataframe['Name']=='Nguyen Van A')]

           ID          Name  Score Faculty
Score
9      231460  Nguyen Van A      9     CKD

In [26]:
dataframe['Faculty'].replace('CKM','Cơ Khí Máy').head(20)
#dataframe['Faculty'].replace('DDT','Điện - Điện Tử').head(10)

Score
9            CKD
2     Cơ Khí Máy
5             TT
5     Cơ Khí Máy
4     Cơ Khí Máy
8            CKD
0            DDT
6            CNH
2     Cơ Khí Máy
4            CKD
6            CNI
7             KT
9             TT
1            CNH
4            DDT
10           CNI
9     Cơ Khí Máy
2     Cơ Khí Máy
4            CNH
6            CNI
Name: Faculty, dtype: object

In [27]:
#Tìm giá trị min, max
print('Max Score:', dataframe['Score'].max())
print('Min Score:', dataframe['Score'].min())
print('Mean Score:', dataframe['Score'].mean()) # Trung binh diem
print('Total Score:', dataframe['Score'].sum()) # Tinh tong
print('The number of Student:', dataframe['Score'].count()) # De dem so nguoi
#Lay nguoi lon tuoi, nho tuoi nhat

Max Score: 10
Min Score: 0
Mean Score: 5.15
Total Score: 103
The number of Student: 20

In [28]:
# Có bao nhiêu khoa
dataframe['Faculty'].unique()

array(['CKD', 'CKM', 'TT', 'DDT', 'CNH', 'CNI', 'KT'], dtype=object)

In [29]:
# Đếm có bao nhiêu sự lặp lại
dataframe['Faculty'].value_counts()

CKM    6
CKD    3
CNH    3
CNI    3
TT     2
DDT    2
KT     1
Name: Faculty, dtype: int64

In [30]:
# Xóa dữ liệu của 1 cột
# Xóa trên bộ nhớ dữ liệu (không xóa trên file) (muốn có lại thì load lại file)
dataframe.drop('ID',axis=1).head(10) #axis = 1 là giá trị bắt buộc
dataframe.drop(['ID','Faculty'],axis=1).head(10) # [] tìm theo cột
# Xóa cột 
#dataframe.drop(dataframe.columns[0:2],axis=1).head(10)
# Xóa hàng
dataframe[dataframe['Faculty']!='CKM'].head(10)
dataframe[dataframe['Score']!='3'].head(10)
dataframe[dataframe.index != 4].head(10)
# Xóa những hàng trùng giá trị với nhau

           ID          Name  Score Faculty
Score
9      231460  Nguyen Van A      9     CKD
2      201471  Nguyen Thi B      2     CKM
5      211482  Nguyen Van C      5      TT
5      201493    Tran Thi D      5     CKM
8      201515    Le Quang H      8     CKD
0      181526      Ly Van K      0     DDT
6      201537  Nguyen Hai M      6     CNH
2      221548      Le Hai V      2     CKM
6      221570      Ly Thi Q      6     CNI
7      201581    Tran Cao P      7      KT

In [31]:
# Xóa những hàng trùng giá trị với nhau
dataframe.drop_duplicates().head(10)

           ID           Name  Score Faculty
Score
9      231460   Nguyen Van A      9     CKD
2      201471   Nguyen Thi B      2     CKM
5      211482   Nguyen Van C      5      TT
5      201493     Tran Thi D      5     CKM
4      191504       Le Thi E      4     CKM
8      201515     Le Quang H      8     CKD
0      181526       Ly Van K      0     DDT
6      201537   Nguyen Hai M      6     CNH
2      221548       Le Hai V      2     CKM
4      211559  Tran Nguyen O      4     CKD

In [ ]:
# Gom những giá trị trùng lại 1 nhóm
dataframe.groupby('Faculty').head(10)

           ID            Name  Score Faculty
Score
9      231460    Nguyen Van A      9     CKD
2      201471    Nguyen Thi B      2     CKM
5      211482    Nguyen Van C      5      TT
5      201493      Tran Thi D      5     CKM
4      191504        Le Thi E      4     CKM
8      201515      Le Quang H      8     CKD
0      181526        Ly Van K      0     DDT
6      201537    Nguyen Hai M      6     CNH
2      221548        Le Hai V      2     CKM
4      211559   Tran Nguyen O      4     CKD
6      221570        Ly Thi Q      6     CNI
7      201581      Tran Cao P      7      KT
9      201592        Ho Van T      9      TT
1      201603      Ho Quang P      1     CNH
4      191614        Ho Thi L      4     DDT
10     201625       Tran Le R     10     CNI
9      221636     Ho Nguyen L      9     CKM
2      201647  Nguyen Quang J      2     CKM
4      221658      Ly Quang K      4     CNH
6      201669    Truong Van R      6     CNI

In [38]:
# Dem nhung nguoi trong khoa co bao nhieu diem
dataframe.groupby(['Faculty','Score']).count()

## Nếu ta sử dụng câu lệnh xóa hàng, cột ở trên khi chạy tuần tự xuống câu lệnh thì Score bị xóa

               ID  Name
Faculty Score
CKD     4       1     1
        8       1     1
        9       1     1
CKM     2       3     3
        4       1     1
        5       1     1
        9       1     1
CNH     1       1     1
        4       1     1
        6       1     1
CNI     6       2     2
        10      1     1
DDT     0       1     1
        4       1     1
KT      7       1     1
TT      5       1     1
        9       1     1

In [36]:
# phuong phap 2 loc diem
dataframe.groupby('Faculty')['Score'].count()

Faculty
CKD    3
CKM    6
CNH    3
CNI    3
DDT    2
KT     1
TT     2
Name: Score, dtype: int64

In [ ]:
# Phương pháp lấy mẫu
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023', periods = 100000, freq = '30s')
dataframe = pd.DataFrame(index = time_index)
dataframe['Acess_Amount'] = np.random.randint(1, 10, 100000) # số nguyên, lấy ngẫu nhiên
# Lay theo tung tuan
dataframe.resample('W').sum()

In [ ]:
# Phương pháp lấy mẫu 2 tuần 1 lần
dataframe.resample('2W').mean()
dataframe.resample('M').mean()

In [56]:
# Tìm số lượng huy chương của 1 nước/ các nước
# Tìm số huy chương vàng, bạc, đồng theo môn thi cá nhân, đồng đội của một nước/ các nước
# Bắt đầu từ năm 1945 đến nay

# Đọc dữ liệu 
import pandas as pd
url = 'medals.csv'
medal = pd.read_csv(url)

# Xuất dữ liệu từ 0 đến 100 xuất tất cả 
medal.head(100)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
95,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
96,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
97,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
98,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
99,1932,Lake Placid,Skiing,Cross Country S,FIN,18km,M,Bronze

In [59]:
# Lọc dữ liệu 
medal = medal.set_index(medal['Sport'])
# Hiển thị dữ liệu
medal.loc['Ice Hockey']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Sport,,,,,,,,
Ice Hockey,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Ice Hockey,1924,Chamonix,Ice Hockey,Ice Hockey,GBR,ice hockey,M,Bronze
Ice Hockey,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
Ice Hockey,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Ice Hockey,1928,St. Moritz,Ice Hockey,Ice Hockey,SUI,ice hockey,M,Bronze
...,...,...,...,...,...,...,...,...
Ice Hockey,2006,Turin,Ice Hockey,Ice Hockey,CZE,ice hockey,M,Bronze
Ice Hockey,2006,Turin,Ice Hockey,Ice Hockey,FIN,ice hockey,M,Silver
Ice Hockey,2006,Turin,Ice Hockey,Ice Hockey,SWE,ice hockey,M,Gold
Ice Hockey,2006,Turin,Ice Hockey,Ice Hockey,SWE,ice hockey,W,Silver
Ice Hockey,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze

In [102]:

print(medal[(medal['Sport']== 'Skating')&(medal['Event']=='individual')&(medal['NOC'] == 'USA' ) & (medal['Medal'] == 'Gold') ].count())

Year            13
City            13
Sport           13
Discipline      13
NOC             13
Event           13
Event gender    13
Medal           13
dtype: int64

In [121]:
 medal[(medal['NOC'] == 'USA') & (medal['Event'] == 'individual') & (medal['Event gender'] =='M') & (medal['Medal'] == 'Gold') &(medal['Sport'] == 'Skating')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Sport,,,,,,,,
Skating,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
Skating,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
Skating,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
Skating,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
Skating,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
Skating,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold

In [126]:
medal[(medal['NOC'] == 'USA') & (medal['Event'] == 'individual') & (medal['Event gender'] =='M') & (medal['Medal'] == 'Gold') &(medal['Sport'] == 'Skating')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Sport,,,,,,,,
Skating,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
Skating,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
Skating,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
Skating,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
Skating,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
Skating,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold

In [191]:
medal[ (medal['Year'] == 1928)]
#medal['NOC'].value_counts()
# Với 'Year' - 1928, 1945 không phải str

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Sport,,,,,,,,
Skating,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
Skating,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
Skating,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Bronze
Skating,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Silver
Skating,1928,St. Moritz,Skating,Figure skating,BEL,individual,M,Bronze
Ice Hockey,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Skating,1928,St. Moritz,Skating,Speed skating,FIN,1500m,M,Gold
Skating,1928,St. Moritz,Skating,Speed skating,FIN,5000m,M,Silver
Skating,1928,St. Moritz,Skating,Speed skating,FIN,500m,M,Bronze
Skating,1928,St. Moritz,Skating,Speed skating,FIN,500m,M,Gold
Skating,1928,St. Moritz,Skating,Figure skating,FRA,pairs,X,Gold
Bobsleigh,1928,St. Moritz,Bobsleigh,Skeleton,GBR,individual,M,Bronze
Bobsleigh,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
Skating,1928,St. Moritz,Skating,Figure skating,NOR,individual,W,Gold
Skating,1928,St. Moritz,Skating,Speed skating,NOR,1500m,M,Bronze
Skating,1928,St. Moritz,Skating,Speed skating,NOR,1500m,M,Silver
Skating,1928,St. Moritz,Skating,Speed skating,NOR,5000m,M,Bronze
Skating,1928,St. Moritz,Skating,Speed skating,NOR,5000m,M,Gold
Skating,1928,St. Moritz,Skating,Speed skating,NOR,500m,M,Bronze
Skating,1928,St. Moritz,Skating,Speed skating,NOR,500m,M,Gold
Skiing,1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Bronze
Skiing,1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Gold
Skiing,1928,St. Moritz,Skiing,Cross Country S,NOR,18km,M,Silver
Skiing,1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Bronze
Skiing,1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Gold
Skiing,1928,St. Moritz,Skiing,Nordic Combined,NOR,individual,M,Silver
Skiing,1928,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
Skiing,1928,St. Moritz,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
Ice Hockey,1928,St. Moritz,Ice Hockey,Ice Hockey,SUI,ice hockey,M,Bronze
Ice Hockey,1928,St. Moritz,Ice Hockey,Ice Hockey,SWE,ice hockey,M,Silver
Skating,1928,St. Moritz,Skating,Figure skating,SWE,individual,M,Gold
Skiing,1928,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Bronze
Skiing,1928,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Gold
Skiing,1928,St. Moritz,Skiing,Cross Country S,SWE,50km,M,Silver
Skiing,1928,St. Moritz,Skiing,Ski Jumping,TCH,K90 individual (70m),M,Bronze
Bobsleigh,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
Bobsleigh,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Silver
Bobsleigh,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
Bobsleigh,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Silver
Skating,1928,St. Moritz,Skating,Figure skating,USA,individual,W,Bronze
Skating,1928,St. Moritz,Skating,Speed skating,USA,500m,M,Bronze

In [194]:
medal[(medal['NOC'] == 'USA') & (medal['Year'] == 2006)]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Sport,,,,,,,,
Bobsleigh,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
Curling,2006,Turin,Curling,Curling,USA,curling,M,Bronze
Ice Hockey,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze
Skating,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
Skating,2006,Turin,Skating,Figure skating,USA,individual,W,Silver
Skating,2006,Turin,Skating,Short Track S.,USA,1000m,M,Bronze
Skating,2006,Turin,Skating,Short Track S.,USA,5000m relay,M,Bronze
Skating,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
Skating,2006,Turin,Skating,Speed skating,USA,10000m,M,Silver
Skating,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
Skating,2006,Turin,Skating,Speed skating,USA,1000m,M,Silver
Skating,2006,Turin,Skating,Speed skating,USA,1500m,M,Bronze
Skating,2006,Turin,Skating,Speed skating,USA,1500m,M,Silver
Skating,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
Skating,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
Skiing,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
Skiing,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
Skiing,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
Skiing,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze
Skiing,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
Skiing,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
Skiing,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
Skiing,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
Skiing,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
Skiing,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver